* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

.header {
    display: block;
    background: #333;
    position: center;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-item {
    display: inline-block;
    margin: 0 25px 5px;
    color: wheat;
}

.main {
    padding-top: none;
    text-align: center;
}

.main h2 {
    color: black;
    text-align: center;
    padding: 15px;
}

.main h3 {
    color: black;
    padding: 10px 10px 10px 10px;
}

.main li {
    margin: 20px;
    align-content: center;
    color: gray;
    list-style: none;
    font-weight: 1000;
    font-size: 25px;
    display: inline-block;
}

.main h5 {
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
}

#tabla {
    width: 120px;
    margin: 15px auto;
    padding: 10px;
    background-color: #3C3D3F;
    font-family: 'Times New Roman', Times, serif;

}

#titulo1 {
    color: white;
}

h1 {
    text-align: center;
    color: black;
}

.noticia {
    border: 1px black;
    ;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    height: 450px;
    overflow: auto;
    color: black;
    line-height: 30px;

}

#energias {
    border: 1px black;
    ;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: auto;
    height: 120px;
    color: black;
    line-height: 30px;
}

.footer {
    text-align: right;
    background-color: #333;
    line-height: 25px;
    height: 100%;
    width: 100%;


}

.container h4 {
    padding-right: 1%;
}

body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}

.fotos {
    display: block;
    margin: auto;
    width: 100%;
    height: 60%;
}

#texto {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
}

.container iframe {
    padding: 15px;

}

.formulario {
    border: 1px solid white;
    background-color: #9e9e9e;
    margin-bottom: 30px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
}

.formulario h1 {
    margin: 15px;
    padding: 15px;
    color: white;
}

.formulario label {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

.formulario input {
    text-align: center;
    color: black;
}

.formulario textarea {
    text-align: center;
    padding-top: 50px;
}

.carousel-item {
    height: 350px;
}

.carousel-item img {
    height: 300px;
}

.container h1 {
    padding: 20px;
}

.logo {
    position: absolute;
}

.title {
    display: inline-block;
    width: 100%;
    padding: 0;
    padding-top: 12px;
}

.header-container {
    height: 150px;
}

.navegacion {
    padding: 32px 0;
}

.warp {
    padding: 0 30px;
}

#bottom-bar .wf-container-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 25px;
    color: #eee;
    align-items: baseline;
}

#bottom-bar {
    font-size: 13px;
    line-height: 25px;
    color: #eee;
}

.wf-warp {
    max-width: 100%;
    margin: auto;
}

.bottom-text-block p {
    display: block;
}

#bottom-bar {
    font-size: 13px;
    line-height: 25px;
    color: #eee;
}

.wf-float-right {
    padding: 10px;
}

.mb-3 {
    margin: 10px;
}

.mb-4 {
    margin: 10px;
}

.mb-5 {
    margin: 10px;
}

.social-media-links li {
    display: inline-block;
    align-items: baseline;
}

.social-media-links ul {
    margin: auto;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 10px;
    margin-top: 10px;
    padding-right: 20px;
}

.social-media-links img {
    margin-left: 20px;
}

.noticia-evento {
    background-image: url(../assets/Molinos.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-Y: center;
    background-attachment: fixed;
    padding: 10px;
    margin: 5px;
}

.texto-evento {
    padding-left: 15%;
    padding-right: 15%;
    display: inline-block;
}

.noticia-noticia {
    background-color: bisque;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    height: 350px;
    overflow: auto;
    color: black;
    line-height: 30px;
    display: inline-block;
}

.noticia-noticia1 {
    background-color: rgb(252, 211, 161);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    height: 350px;
    overflow: auto;
    color: black;
    line-height: 30px;
    display: inline-block;
}