.Cronograma {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.cronograma-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

    img {
        width: 100%;
        border-radius: 10px;
    }

    p {
        padding: 0;
    }

    h3 {
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: left;
    }
}

.cronograma-btn {
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    margin-bottom: 5%;
    margin-top: 2%;
    font-size: 13px;
    background: #a7a7a7;
    position: relative;
    cursor: pointer;
}

.cronograma-btn:hover {
    color: #fff;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;

}