.sobrenos {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./assets/amazonas.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}

.sobrenos-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }

}

.nosotros {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

    h3 {
        width: 100%;
        font-weight: 500;
        color: #fff;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;

    }
}

.nosotros:hover {
    background: rgba(226, 0, 0, 0.7);

    h3 {
        bottom: 50%;
        opacity: 1;
    }
}